html {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  width: 100%;
  margin-top: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  text-wrap: wrap;
}

.card {
  margin: 25% auto;
  height: 500px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0 2px grey;
  border-radius: 16px;
  text-align: center;
}

.card__qrcode {
  display: block;
  width: 90%;
  margin: 10px auto;
  object-fit: contain;
  border-radius: 8px;
}

.card__content {
  margin: 40px auto;
}

.card__title {
  font-weight: 900;
  font-size: 1.5rem;
}

.card__description {
  font-size: 1.1rem;
  font-weight: 500;
  color: gray;
}

@media (orientation: landscape) {
  .card {
    margin: 10% auto;
    height: 300px;
    width: 150px;
  }

  .card__title {
    font-size: 0.8rem;
  }

  .card__description {
    font-size: 0.6rem;
  }
}
