html {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.card {
  margin: auto;
  height: 500px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0 2px grey;
  border-radius: 16px;
  text-align: center;
}

.card__qrcode {
  display: block;
  width: 90%;
  margin: 10px auto;
  object-fit: contain;
  border-radius: 16px;
}
